POSTGRES_DB=solution_address_book
POSTGRES_USER=solution
POSTGRES_PASSWORD=solution_dev_password
JWT_SECRET=VGhpcy1pcy1hLWRldmVsb3BtZW50LWtleS1jaGFuZ2UtaXQtaW4tcHJvZHVjdGlvbi0yMDI2
ADMIN_CPF=52998224725
ADMIN_PASSWORD=Admin@123

